body{
 
    background-image: url(./img/dark-blue-product-background_53876-92801.jpg);
    
    height: 100%;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;

    /* background-color: rgba(22, 16, 16, 0.911); */

}

*{
 margin: auto;

}
@font-face {
    font-family: bigfont;
    src: url(./font/Barriecito-Regular.ttf);
    
}
@font-face {
    font-family: big2;
    src: url(./font/Black_Ops_One/BlackOpsOne-Regular.ttf);
}

span img {
    height: 57px;
    position: absolute;
    width: 57px;
    margin-left: 3px;
    margin-top: -57px;
    border-radius: 70px;
}


.nav1{

display: flex;

font-family: Arial, Helvetica, sans-serif;
font-weight: bold;

background-color: rgba(27, 36, 57, 0.97);

color: rgb(237, 251, 250);
width: 1228px;
display: block;
/* display: inline-block; */
font-weight: 900;
padding: 18px;
word-spacing: 12px;
border-radius: 30px;
box-shadow: 1px 1px 20px white;
z-index: initial;

}

.nav1 > a{

    color: aliceblue;
    /* text-align: center; */
    /* word-spacing: 12px; */
    text-decoration: none;
    align-items: center;

}

.nav1 :hover{

    background-color: rgba(239, 126, 6, 0.872);
    transition: 0.7s all;
    padding: 18px;


}

label {

justify-content: right;
margin-left: 750px;
/* margin-bottom: 800px; */
display: inline-block;
margin-top: -42px;
position: absolute;
color: beige;
font-weight: bold;

    

}

input{

    border-radius: 15px;
height: 25px;
color: aliceblue;
border: none;
font-weight: bold;
}

select {

    width: 50px;
    height: 25px;
    color: aliceblue;
    background-color: rgba(238, 194, 0, 0.932);
}

option{

    background-color: rgb(64, 79, 96);
    color: aliceblue;
}

input:hover{

    background-color: rgba(160, 181, 209, 0.742);
}
input:focus{

    background-color: rgba(226, 235, 248, 0.97);
    color: #000;
}

.logo1 img{

    height: 45px;
    position: absolute;
    width: 50px;
    margin-top: -51px;
    position: absolute;
    margin-left: 550px;
    
}

.logo2 img{

    height: 45px;
    width: 50px;
    margin-top: -51px;
    position: absolute;
    margin-left: 650px;
    
}


.div1 button {

    height: 35px;
 width: 90px;
 background-color: rgba(255, 0, 85, 0.635);
 border-radius: 20px;
 color: beige;
 box-shadow: 2px 2px 10px rgb(222, 220, 214);
 border-color: black;
 margin-left: 1150px;
 position: absolute;
 display: inline;
 margin-top: -45px;
 

}

.div2 button{

    height: 35px;
    width: 90px;
    background-color: rgba(77, 52, 52, 0.922);
    border-radius: 20px;
    color: beige;
    box-shadow: 2px 2px 10px rgb(222, 220, 214);
    border-color: black;
    margin-left: 1025px;
    position: absolute;
    display: inline;
    margin-top: -45px;
    
    
}
.div1 a {

text-decoration: none;
color: aliceblue;
font-weight: bold;

}
.div2 a {

text-decoration: none;
color: aliceblue;
font-weight: bold;

}




.div1 :hover{


    background-color: rgb(223, 10, 10);
}


.div2 :hover{


    background-color: rgba(99, 79, 52, 0.847);
}


.firstbanner img{

 width: 1260px;
 height: 350px;
 margin-top: 26px;
 
 

}

.firstbanner{
overflow-x: scroll ;
display: flex;
width: 1200px;
width: 1260px;
}


.heading h1 {

        font-family: bigfont;
        text-align: center;
        color: white;
        /* background-color: rgba(0, 0, 0, 0.297); */
        width: 600px;
        /* box-shadow: 5px 5px 20px rgb(139, 105, 105); */
        
    }

.heading{

    text-align: center;
    color: rgb(151, 177, 187);
    background-color: rgba(42, 18, 18, 0.507);
    height: 523px;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    width: 1260px;
}


.fig1 img{

    height: 300px;
    width: 230px;
    margin: 12px;
}



.heading2 h1{
 
    text-align: center;
    color: rgb(32, 210, 186);
    /* background-color: rgba(0, 0, 0, 0.297); */
    width: 600px;
    font-family: big2;
}

.heading2{

    text-align: center;
    color: rgb(151, 177, 187);
    background-color: rgba(211, 53, 53, 0.329);
    height: 260px;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    width: 1260px;


}

.shoes1{

display: flex;
background-color: rgba(0, 0, 0, 0.708);
height: 438px;
width: 1260px;


}

.shoes1 img{
height: 300px;
width: 230px;
border-radius: 5px;

}

.shoes1 figcaption{
    
    color: white;
    background-color: rgba(100, 148, 237, 0.589);
}

.shoes1 h2{
    
    color: rgb(165, 235, 15);
}

.shirtbanner img{
    
    width: 1260px;
height: 350px;


}

.shirt1{
    
    display: flex;
    height: 500px;
    background-color: rgba(139, 176, 245, 0.804);
    width: 1260px;

}

.shirt1 img{

height: 400px;
width: 300px;
border-radius: 6px;

}

.shirt1 h2{

     color: rgb(19, 103, 133);
   
}

.shirt1 figcaption{
    
    background-color: #f75f5f4c;
    color: #292727;
    box-shadow: 3px 3px 20px rgb(196, 189, 187);
}


.newbanner img{

    width: 1260px;
height: 300px;
}

.newbanner{
    
    width: 1260px;
}




    .footerlist{


        display: flex;
        background-color: #292727;
        color: aliceblue;

        height: 300px;
        font-family: Arial, Helvetica, sans-serif;
        width: 1260px;
    }


    ul::first-line{

        font-weight: bold;
        color: aqua;
    }

    .footerlist img{

        height: 50px;
        width: auto;
        margin-bottom: 30px;
    
    }